:root {
    /* These colors come from the Google Material design dark mode guidelines. */
    --bg-color: #121212;
    --very-light-purple: #EFE5FD;
    --light-purple: #BB86FC;
    --dark-purple: #6002EE;
}

* {
    /* Default font */
    font-family: 'Montserrat', sans-serif;
}

h1, h2{
    font-family: 'Roboto', sans-serif;
}

body {
    /* Default colors */
    background-color: var(--bg-color);
    color: var(--very-light-purple);
}

main {
    /* Center content on the page */
    margin: 0 auto;

    & > * {
        width: 100%;
    }

    & > * + *{
        margin-block-start: 1.8em;
    }
}

img {
    border-radius: 50%;
    border: 1px solid var(--dark-purple);

    -webkit-user-drag: none;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > * {
        margin: 0 1em;
        text-align: center;
    }
}

table {
    border-collapse: collapse;

    border-radius: 1em;
}

tr > * {
    border: 1px solid var(--light-purple);
    padding: .3em .6em;
}

td {
    text-align: right;

    & + td {
        text-align: left;
    }
}

footer {
    display: flex;
    flex-direction: column;

    & a {
        text-decoration: none;

        transition: color .2s;
        color: var(--light-purple);

        margin: .6em 0;

        &:visited {
            color: var(--dark-purple);
        }

        &:hover {
            color: var(--very-light-purple);
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        width: 80%;
    }

    .header-container {
        flex-direction: row;

        & > * {
            margin: 0 3em;
            text-align: left;
        }
    }

    footer {
        flex-direction: row;
        justify-content: space-between;

        & a {
            margin: 0 1.5em;
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        width: 57%;
    }
}